{% extends 'registration_base.html' %}

{% block operation %}
<h1><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Account</h1>
<hr style="margin-bottom: 5%;" />

<form class="form-horizontal" method="POST" enctype="multipart/form-data" style="display: table; margin-left: auto; margin-right: auto;">
  {% csrf_token %}
  <fieldset>
    <p>Please write your username</p>
    <div class="input-group">
      <input class="form-control " id="check-username" name="username" type="text" placeholder="username" required/>
    </div>

    <br/>

    <div class="form-group">
      <div class="form-check">
        <label for="checkbox" class="form-check-label">
          <input name="check" id="checkbox" class="form-check-input" type="checkbox" required> I want to delete my account.
        </label>
      </div>
    </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Delete Account</button>
    </div>
  </fieldset>
</form>
{% endblock %}
