{% extends 'registration_base.html' %}

{% block header %}
{% endblock %}

{% block operation %}
<h1><i class="fa fa-sign-in" aria-hidden="true"></i> Login</h1>
<hr />

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <div class="form-group">
      <label class="form-control-label" for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Username" autofocus required/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Password" required/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </fieldset>
</form>

<div>
  <a href="{% url 'password_reset' %}">Forgot Password?</a>
</div>

{% endblock %}