{% extends 'registration_base.html' %}

{% block operation %}

{% if validlink %}
<h1><i class="fa fa-key" aria-hidden="true"></i> Password Reset</h1>
<hr style="margin-bottom: 5%;" />

<form method="POST" enctype="multipart/form-data" style="display: table; margin-left: auto; margin-right: auto;">
  {% csrf_token %}
  <fieldset>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input class="form-control" id="new-password" name="new_password1" type="password" placeholder="New Password" required/>
    </div>

    <br/>
    
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input class="form-control" id="new-password-confirm" name="new_password2" type="password" placeholder="New Password Confirm" required/>
    </div>

    <br/>
    
    <div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </fieldset>
</form>

{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, <br />
possibly because it has already been used. <br />
Please request a new password reset.</p>
{% endif %}
{% endblock %}