{% extends 'registration_base.html' %}

{% block operation %}
<h1><i class="fa fa-key" aria-hidden="true"></i> Password Change</h1>
<hr style="margin-bottom: 5%;" />

<form method="POST" enctype="multipart/form-data" style="display: table; margin-left: auto; margin-right: auto;">
  {% csrf_token %}
  <fieldset>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input class="form-control" id="old-password" name="old_password" type="password" placeholder="Old Password" />
    </div>
    
    <br/>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input class="form-control" id="new-password" name="new_password1" type="password" placeholder="New Password" />
    </div>

    <br/>
    
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input class="form-control" id="new-password-confirm" name="new_password2" type="password" placeholder="New Password Confirm" />
    </div>

    <br/>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </fieldset>
</form>
{% endblock %}
