{% extends 'registration_base.html' %}

{% block operation %}
<h1><i class="fa fa-id-card-o" aria-hidden="true"></i> Register</h1>
<hr style="margin-bottom: 5%;" />

<form class="form-horizontal" method="POST" enctype="multipart/form-data" style="display: table; margin-left: auto; margin-right: auto;">
  {% csrf_token %}
  <fieldset>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
      <input class="form-control" id="username" name="username" type="text" placeholder="Username for login" autofocus required/>
    </div>

    <br/>
    
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
      <input class="form-control" id="e-mail" name="e-mail" type="email" placeholder="E-mail" required/>
    </div>

    <br/>
  
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input class="form-control" id="password" name="password1" type="password" placeholder="Password" required/>
    </div>

    <br/>
  
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input class="form-control" id="password-confirm" name="password2" type="password" placeholder="Password Confirm" required/>
    </div>

    <br/>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
      <input class="form-control" id="name" name="name" type="text" placeholder="Name" autofocus required/>
    </div>

    <br/>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
      <select class="form-control" name="gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Secret">Secret</option>
      </select>
    </div>

    <br/>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
      <input class="form-control" id="phone" name="phone" type="text" placeholder="Phone Number"/>
    </div>

    <br/>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
      <input class="form-control" id="institution" name="institution" type="text" placeholder="Institution"/>
    </div>

    <br/>      

    <div class="form-group">
      <div class="form-check">
        <label for="checkbox" class="form-check-label">
          <input id="checkbox" class="form-check-input" type="checkbox" required> I've <a data-toggle="modal" data-target="#exampleModal" style="color:mediumblue; font-weight: bold;">read the terms and conditions.</a>
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </fieldset>
</form>

<!-- Need to customize -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: initial !important">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 250px; overflow-y: auto;">
          <p>1. Privacy</p>
          <p>Example</p>
          <p>2. Safety</p>
          <p>Example</p>
          <p>3. Registration and Account Security</p>
          <p>Example</p>
          <p>4. Other</p>
          <p>Example</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
{% if error is not None %}
<div class="alert alert-danger" role="alert">
  <p>{{ error }}</p>
</div>
{% endif %}
{% endblock %}