{% extends 'registration_base.html' %}

{% block header %}
{% endblock %}

{% block operation %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <div class="form-group">
      <label class="form-control-label" for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Username" autofocus required/>
    </div>
    
    <div class="form-group">
      <label class="form-control-label" for="e-mail">E-mail</label>
      <input id="e-mail" name="e-mail" type="email" placeholder="E-mail" required/>
    </div>
  
    <div class="form-group">
      <label class="form-control-label" for="password">Password</label>
      <input id="password" name="password1" type="password" placeholder="Password" required/>
    </div>
  
    <div class="form-group">
      <label class="form-control-label" for="password-confirm">Password Confirm</label>
      <input id="password-confirm" name="password2" type="password" placeholder="Password Confirm" required/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="gender">Gender</label>
      <select name="gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Secret">Secret</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="phone">Phone Number</label>
      <input id="phone" name="phone" type="text" placeholder="Phone Number"/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="institution">Institution</label>
      <input id="institution" name="institution" type="text" placeholder="Institution"/>
    </div>
      
    <div class="form-check">
      <label for="checkbox" class="form-check-label">
        <input id="checkbox" class="form-check-input" type="checkbox" required> I've read the terms and conditions.
      </label>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </fieldset>
</form>
  
{% if error is not None %}
<p>{{ error }}</p>
{% endif %}

{% endblock %}