{% extends 'service_base.html' %}

{% block contents %}
<!-- service title -->
<h1>Study : {{ study_info.title }}</h1>
<hr />

<h2>Kickout member : {{ user.username }}</h2>
<hr />

<p>Are you sure to kickout member {{ user.username }}?</p>
<form class="form-horizontal" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>      
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Yes, Sure</button>
      <a href="/service_admin/{{ study_info.url }}" class="btn btn-primary">No, I want to back</a>
    </div>
  </fieldset>
</form>

{% endblock %}