{% extends 'service_base.html' %}

{% block contents %}
<!-- service title -->
<h1>Study List</h1>

<!-- create new study -->
<a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New Study</a>

<!-- search study -->
<fieldset>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <!--<label for="password-confirm">Search Study</label>-->
      <input id="search-study" name="search-study" type="text" placeholder="Search Study" />
    </div>
  
    <div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>
    </div>
  </form>
</fieldset>

<!-- study list -->
{% for study in study_list %}
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h3 class="card-title">{{ study.name }}</h3>
      <p class="card-text">{{ study.description }}</p>
      <p class="card-text">Deposit: {{ study.depoit }}</p>
      <a href="#" class="btn btn-primary">Join Request</a>
    </div>
  </div>
{% endfor %}
{% endblock %}