{% extends 'service_base.html' %}

{% block contents %}
<!-- service title -->
<h1>My Study: {{ request.user.username }}</h1>
<hr />

<!-- study list -->
{% for study in study_list %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ study.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Deposit: {{ study.deposit }}</h6>
    <p class="card-text">{{ study.description }}</p>
    <a href="#" class="card-link">Go to manage page</a>
  </div>
</div>
<br />
{% empty %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Sorry</h3>
    <p class="card-text">There's no study you manage..</p>
    <a href="{% url 'study_lisy' %}" class="card-link">Back to Main</a>
  </div>
</div>
{% endfor %}
{% endblock %}