{% extends 'service_base.html' %}

{% block contents %}
<!-- service title -->
<h1>My Study: {{ request.user.username }}</h1>
<hr />

<!-- study list user manage -->
<h3>Study group list: As manager</h3>
<hr />
{% for manage in manage_study_list %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ manage.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Deposit: {{ manage.deposit }}</h6>
    <p class="card-text">{{ manage.description }}</p>
    <a href="/{{ manage.url }}" class="card-link">Go to study page</a>
    <a href="/service_admin/{{ manage.url }}" class="card-link">Go to manage page</a>
  </div>
</div>
<br />
{% empty %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Sorry</h3>
    <p class="card-text">There's no study list..</p>
  </div>
</div>
{% endfor %}
<br />

<!-- study list user belong to -->
<h3>Study group list: As participant</h3>
<hr />
{% for belong in belong_study_list %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ belong.study.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Deposit: {{ belong.study.deposit }}</h6>
    <p class="card-text">{{ belong.study.description }}</p>
    <a href="/{{ belong.study.url }}" class="card-link">Go to study page</a>
  </div>
</div>
<br />
{% empty %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Sorry</h3>
    <p class="card-text">There's no study list..</p>
  </div>
</div>
{% endfor %}
<br />

<!-- study list user requested to join -->
<h3>Study group list: Requested</h3>
<hr />
{% for requested in requested_study_list %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ requested.study.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Deposit: {{ requested.study.deposit }}</h6>
    <p class="card-text">{{ requested.study.description }}</p>
  </div>
</div>
<br />
{% empty %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Sorry</h3>
    <p class="card-text">There's no study list..</p>
  </div>
</div>
{% endfor %}
<br />
{% endblock %}