{% extends 'service_base.html' %}

{% block contents %}
<!-- service title -->
{% if study_info is None %}
<h1>Invalid Study</h1>
<hr />

<a href="{% url 'main' %}"><h3>Back to Main</h3></a>

{% else %}
<h1>Study: {{ study_info.title }}</h1>
<hr />

<!-- List of join request -->
<h3>Join requests</h3>
<hr />

<div class="container">
  {% for join_request in join_requests %}
  <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ join_request.user.username }}</h4>
        <p class="card-subtitle mb-2 text-muted">
          {{ join_request.user.profile.gender }} / {{ join_request.user.profile.institution }}
        </p>
        <p class="card-text">
          {{ join_request.user.profile.phone }} / {{ join_request.user.email }}
        </p>
        <a class="btn btn-primary" style="color: #FFFFFF;" href="approve/{{ join_request.user.username }}">Approve</a>
        <a class="btn btn-danger" style="color: #FFFFFF;" href="reject/{{ join_request.user.username }}">Reject</a>
      </div>
  </div>
  <br />
  {% empty %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Sorry</h3>
      <p class="card-text">There's no request yet..</p>
      </div>
  </div>
  {% endfor %}
</div>
<br />


<!-- Member manage -->
<h3>Manage Member</h3>
<hr />

<div class="container">
  {% for member in member_list %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a href="/{{ study_info.url }}/user/{{ member.user.username }}">{{ member.user.username }}</a> | {{ member.user.profile.name }}</h4>
      <p class="card-subtitle mb-2 text-muted">
        {{ member.user.profile.gender }} / {{ member.user.profile.institution }}
      </p>
      <p class="card-text">
        {{ member.user.profile.phone }} / {{ member.user.email }}
      </p>
      <a class="btn btn-success" style="color: #FFFFFF;" href="manage_attendance/{{ member.user.username }}/attend/">Attend</a>
      <a class="btn btn-secondary" style="color: #FFFFFF;" href="manage_attendance/{{ member.user.username }}/late/">Late</a>
      <a class="btn btn-warning"  href="manage_attendance/{{ member.user.username }}/absent/">Absent</a>
      <a class="btn btn-info" style="color: #FFFFFF;" href="manage_deposit/{{ member.user.username }}">
        {% if member.deposit_pay is False %}
          Paid deposit
        {% else %}
          Unpaid deposit
        {% endif %}
      </a>
      <a class="btn btn-danger" style="color: #FFFFFF;" href="kickout_member/{{ member.user.username }}">Kickout</a>
    </div>
  </div>
  <br />
  {% empty %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Sorry</h3>
      <p class="card-text">There's no member yet..</p>
    </div>
  </div>
  {% endfor %}
</div>
<br />


<!-- Remove Study -->
<h3>Remove Study</h3>
<hr />

<a class="btn btn-danger" style="color: #FFFFFF;" href="remove_study">Remove Study</a>

{% endif %}
{% endblock %}