<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Study Hard</title>

    {% block header %}
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
      <a class="navbar-brand" href="/">Study Hard</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
          </li>
          {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block contents %}
      {% endblock %}
    </div>
  </body>
</html>
